.popup {  
    position: fixed;  
    width: 50%;  
    height: 50%;  
    top: 0;  
    left: 0;
    z-index: 5000;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgba(253, 253, 253, 0.5);  
  }  
  .popup\_inner {  
    position: absolute;  
    left: 25%;  
    right: 25%;  
    top: 25%;  
    bottom: 25%;  
    margin: auto;  
    border-radius: 20px;  
    background: white;  
  }